{# src/RCloud/Bundle/RBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}
<div class="page">
    <header class="header">
    {% block header %}
        <a class="header-logo" href="{{ path('show_dashboard') }}" title="Accueil">
            <img src="{{ asset('assets/img/logo.png') }}" alt="RCloud" />
        </a>
        <nav class="navigation">
        {% block navigation %}{% endblock %}
            <div class="dropdown">
                <button class="navigation-item dropdown-toggle" type="button">
                    <i class="fa fa-plus"></i>
                    Nouveau
                </button>
                <ul class="dropdown-list">
                    <li class="dropdown-item"><a href="{{ path('show_editor') }}" target="_blank">Script</a></li>
                    <li class="dropdown-item"><button class="modal-toggle" data-target="#new-folder-modal" type="button">Dossier</button></li>
                </ul>
            </div>
        </nav>
        <div class="header-right dropdown">
            <button class="navigation-item dropdown-toggle" type="button">
                {{ app.user.username }} <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-list">
                <li class="dropdown-item"><a href="{{ path('scripts_list') }}">Scripts</a></li>
                <li class="dropdown-item"><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                <li class="dropdown-item"><a href="#">Préférences</a></li>
                <li class="dropdown-item"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            </ul>
        </div>
    {% endblock %}
    </header>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
    <footer class="footer">
    {% block footer %}
        <p>RCloud.</p>
    {% endblock %}
    </footer>
    <div class="modal" id="new-folder-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button class="modal-close" type="button"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <form id="new-folder-form" method="post" action="#">
                    <input type="text" name="name" id="new-folder-name" placeholder="Entrez le nom du dossier" required />

                    {% if currentFolder is null %}
                        {% set parentId = null %}
                    {% else %}
                        {% set parentId = currentFolder.id %}
                    {% endif %}
                    <input type="text" name="parentId" id="new-folder-parent-id" value="{{ parentId }}" />
                    <button type="submit">Créer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
