{# src/RCloud/Bundle/RBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}
<div class="page">
    <header class="header">
    {% block header %}
        <a class="header-logo" href="{{ path('home') }}" title="Accueil">
            <img src="{{ asset('assets/img/logo.png') }}" alt="RCloud" />
        </a>
        <nav class="navigation">
        {% block navigation %}
        {% endblock %}
        </nav>
        <div class="header-right dropdown">
            <button class="navigation-item dropdown-toggle" type="button">
                {{ app.user.username }} <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-list">
                <li class="dropdown-item"><a href="{{ path('home') }}">Scripts</a></li>
                <li class="dropdown-item"><a href="{{ path('fos_user_group_list') }}">Groupes</a>
                <li class="dropdown-item"><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                <li class="dropdown-item"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            </ul>
        </div>
    {% endblock %}
    </header>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
    <footer class="footer">
    {% block footer %}
        <p>RCloud.</p>
    {% endblock %}
    </footer>
    {% block modals %}{% endblock %}
</div>
{% endblock %}
