{# src/RCloud/Bundle/RBundle/Resources/views/Editor/showEditor.html.twig #}

{% extends 'RCloudRBundle::layout.html.twig' %}

{% block navigation %}
    <button class="navigation-item" id="run-script" type="button">
        <i class="fa fa-rocket"></i>
        <span>Exécuter</span>
    </button>
    <button class="navigation-item" id="save-script" type="button">
        <i class="fa fa-save"></i>
        <span>Enregistrer</span>
    </button>
{% endblock %}

{% block content %}
<div id="editor">
    <input id="editor-script" type="hidden" value="{{ script|serialize('json') }}" />
    <div class="editor-editor">
        <textarea id="editor-field">{{ script.content }}</textarea>
    </div>
    <div class="editor-result">
        <div class="editor-result-result"></div>
        <div class="editor-result-graphs"></div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.location.replace(window.location.origin + '/editor/{{script.id}}#&togetherjs={{ script.id }}');
        TogetherJSConfig_toolName = 'Rcloud';
        TogetherJSConfig_suppressJoinConfirmation = true;
        TogetherJSConfig_autoStart = true;

        TogetherJSConfig_dontShowClicks = true;
        TogetherJSConfig_ignoreMessages = true;
        TogetherJSConfig_suppressInvite = true;
        TogetherJSConfig_disableWebRTC = true;
        TogetherJSConfig_getUserName = '{{ app.user.username }}';
    </script>
    <script src="https://togetherjs.com/togetherjs-min.js"></script>
{% endblock %}
