{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new">
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    <div class="visually-hidden">
        {{ form_widget(form.owner) }}
    </div>
    {{ form_rest(form) }}
    <div>
        <input type="submit" value="{{ 'group.new.submit'|trans }}" />
    </div>
</form>
