{% extends 'RCloudRBundle::layout.html.twig' %}

{% block navigation %}
    <div class="dropdown">
        <button class="navigation-item dropdown-toggle" type="button">
            <i class="fa fa-plus"></i>
            Nouveau
        </button>
        <ul class="dropdown-list">
            <li class="dropdown-item"><button class="modal-toggle" data-target="#new-script-modal" type="button">Script</button></li>
            <li class="dropdown-item"><button class="modal-toggle" data-target="#new-folder-modal" type="button">Dossier</button></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="row row-padded">
    <div class="col">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('folders_list') }}">Vos scripts</a></li>
            {% for item in breadcrumbItems %}
                <li class="breadcrumb-item">
                    {% if loop.last %}
                    {{ item.name }}
                    {% else %}
                    <a href="{{ path('folders_list', {'id': item.id}) }}">
                        {{ item.name }}
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <ul class="folders" id="folders-list">
            {% for folder in folders %}
                <li class="folder">
                    <a href="{{path("folders_list",{"id" : folder.id})}}">
                        <ul class="folder-infos">
                            <li class="folder-name">{{ folder.name }}</li>
                            <li>0 dossier(s)</li>
                            <li>{{ folder.scripts|length }} script(s)</li>
                        </ul>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="row row-padded">
            <div class="col-8">
                <table class="scripts-list" id="scripts-list">
                    <thead>
                        <tr>
                            <th class="scripts-list-header-title">Titre</th>
                            <th class="scripts-list-header-modification">Modification</th>
                            <th class="scripts-list-header-actions" colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for script in currentScripts %}
                            <tr>
                                <td>
                                    <a href="{{ path('show_editor', {'scriptId': script.id}) }}" title="Editer {{ script.name }}" target="_blank">
                                        {{ script.name }}
                                    </a>
                                </td>
                                <td>
                                    {{ script.dateModification|localizeddate('medium', 'none') }}
                                </td>
                                <td class="scripts-list-action">
                                    <a href="{{ path('show_editor', {'scriptId': script.id}) }}" title="Editer {{ script.name }}" target="_blank">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td class="scripts-list-action">
                                    <a href="{{ path('script_remove', {'scriptId': script.id}) }}" title="Supprimer {{ script.name }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
    {% if currentFolder is null %}
        {% set parentId = null %}
    {% else %}
        {% set parentId = currentFolder.id %}
    {% endif %}
    {{ parent() }}
    <div class="modal" id="new-folder-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button class="modal-close" type="button"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <form class="new-folder-form" id="new-folder-form" method="post" action="#">
                    <input type="text" name="name" id="new-folder-name" placeholder="Entrez le nom du dossier" required />
                    <input type="hidden" name="parentId" id="new-folder-parent-id" value="{{ parentId }}" />
                    <button class="button" type="submit">Créer</button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="new-script-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button class="modal-close" type="button"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <form class="new-folder-form" id="new-script-form" method="post" action="#">
                    <input type="text" name="name" id="new-script-name" placeholder="Entrez le nom du script" required />
                    <intput type="text" name="content" id="new-script-content" value="" />
                    <input type="hidden" name="parentId" id="new-script-parent-id" value="{{ parentId }}" />
                    <button class="button" type="submit">Créer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
