{% extends 'RCloudRBundle::layout.html.twig' %}

{% block content %}
{%  if scripts|length > 0 %}
<ul>
    {% for script in scripts %}
    <li>
        {{ script.name }}
        <span class="script-actions">
            <a href="#" title="Editer {{ script.name }}"><i class="fa fa-edit"></i></a>
            <a class="remove-script" href="{{path('script_remove', {'scriptId': script.id} )}}" title="Supprimer {{ script.name }}" data-script-id="{{ script.id }}"><i class="fa fa-trash-o"></i></a>
        </span>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Vous n'avez aucun script</p>
{% endif %}
{% endblock %}