{% extends 'RCloudRBundle::layout.html.twig' %}

{% block content %}
{%  if scripts|length > 0 %}
<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Modification</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for script in scripts %}
            <tr>
                <td>
                    {{ script.name }}
                </td>
                <td>
                    {{ script.dateModification|date('d-m-Y') }}
                </td>
                <td>
                    <a href="{{ path('show_editor', {'scriptId': script.id}) }}" title="Editer {{ script.name }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('script_remove', {'scriptId': script.id}) }}" title="Supprimer {{ script.name }}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Vous n'avez aucun script</p>
{% endif %}
{% endblock %}